<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ laptop.name }}</title>
</head>
<body class="container">

    <div class="row">
        <div class="col-sm-6">
            <img src="{{ url_for('static', filename=laptop.img) }}">
        </div>
        <div class="col-sm-6">
        <p>
            <h1>{{ laptop.name }}</h1>
            Cost: {{ laptop.cost }}
        </p>
        </div>
    </div>

</body>
</html>